.Link {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-left: 5px solid #ccc;
  padding: 5px 5px 5px 15px;
  overflow: hidden;
  text-overflow: ellipsis;

  .siteName {
    display: flex;
    align-items: center;
    font-weight: bold;

    img {
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }
  }

  .title {
    font-weight: bold;
  }

  .date {
    font-size: 1.2rem;
    color: #777;
  }

  .image {
    a {
      display: block;
      width: 100%;
      max-width: 500px;

      img {
        width: 100%;
        max-width: 500px;
      }
    }
  }
}
