.MessageBubble {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  margin: 0 50px 0 20px;
  background-color: #dde;
  position: relative;
  hyphens: auto;

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid #dde;
    position: absolute;
    bottom: 5px;
    left: -20px;
  }

  &.my {
    background-color: #ded;
    margin: 0 20px 0 50px;

    &::after {
      left: auto;
      right: -20px;
      border-right: none;
      border-left: 20px solid #ded;
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    .author {
      font-weight: bold;
    }

    .sent {
      font-size: 1.2rem;
      color: #777;
    }
  }

  .content {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
