.MessageDate {
  height: 1px;
  margin: 12px 0;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;

  .date {
    height: 25px;
    background-color: #fff;
    line-height: 25px;
    padding: 0 10px;
    font-size: 1.2rem;
    color: #777;
  }
}
