.Messages {
  flex: 1;
  align-self: stretch;
  height: calc(100vh - 75px);
  overflow-x: hidden;
  overflow-y: auto;

  .messages {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
