.Typers {
  padding: 10px;
  color: #888;

  &::after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4, end) 1.5s infinite;
    content: '\2026';
    width: 0;
  }
}

@keyframes ellipsis {
  to {
    width: 2.4rem;
  }
}
