.UserForm {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  fieldset {
    display: flex;
    width: 300px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
