.Users {
  align-self: stretch;
  width: 180px;
  padding: 20px;
  background-color: #eee;
  border-radius: 5px;

  .user {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;

    .status {
      width: 10px;
      height: 10px;
      border-radius: 5px;

      &.idle {
        background-color: #777;
      }

      &.online {
        background-color: #5f5;
      }
    }
  }
}
