*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #333;
}

#root {
  height: 100vh;
}

fieldset {
  background-color: #ecf;
  border-radius: 5px;
  border: none;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 15px;
}

input,
button {
  display: inline-block;
  height: 40px;
  border-radius: 20px;
  border: none;
  font-size: 1.6rem;
  padding: 0 20px;
}

input:focus {
  outline: 0;
}

button {
  background: linear-gradient(90deg, #25f, #a3f);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}
